<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid mx-3">
      <a class="navbar-brand" routerLink="/">
        <img
          src="./../../../../assets/images/logo.png"
          alt=""
          style="height: 40px"
        />
        <span class="text-danger">APP</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
        </ul>
        <div class="form-search col-xs-12 col-sm-12 col-md-6 py-xs-3">
          <app-form-search></app-form-search>
        </div>
      </div>
    </div>
  </nav>
</header>
